{% extends 'base.html.twig' %}

{% block title %}Votre Profil :) {% endblock %}

{% block body %}

<div>
<a href="#" class="btn btn-warning"> Modifier mon profil </a>
</div>

<h1>Bonjour a toi {{artist.pseudo}}</h1>






















{% endblock %}

