{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset('styles/forgottenpass.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block title %}Mot de passe oublié
{% endblock %}

{% block body %}
<div class="mdp-content">
	<div class="forgotten">
    {# ici le header user connected or not #}
		{% block header %}
			{% include 'main/header.html.twig' %}
		{% endblock header %}

	<!-- Header -->
	<div class = " container" id=" mdp-content"
		<header class="container">
			<div class="row">
				<div class="titreoublie col-12">
					<h2 class="my-4 text-center">Mot de passe oublié</h2>
				</div>
			</div>
		</header>
		<!-- Content -->

		<section id="article" class="container-fluid pb-4">
			<div class="container">
				<div class="row">
					<div class=" col-12 text-center">
						<p>Pour réinitialiser votre mot de passe, veuillez entrer votre adresse e-mail ci-dessous.</p>
						{{ form(emailForm) }}
						</div>
					</div>
				</div>


			</section>
		</div>
	</div>
</div>	
	{# ici le footer #}
	{% block footer %}
		{% include 'main/footer.html.twig' %}
	{% endblock footer %}
{% endblock %}
