{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('styles/resetpass.css') }}" type="text/css" rel="stylesheet">
{% endblock %}
{% block title %}Nouveau mot de passe{% endblock %}
 
{% block body %}
{# ici le header user connected or not #}
		{% block header %}
			{% include 'main/header.html.twig' %}
		{% endblock header %}
<div class="container text-center reset-content">
<h2>Réinitialisation du mot de passe</h2>
<p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
<form method="post" class="form-content">
     <div class="d-block ">
    <label for="inputPassword" >Nouveau mot de passe : </label>
    <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" required>
    </div>
    <div class="d-block confirm">
    <label for="confirmPassword" >Confirmation : </label>
    <input type="password" name="confirmation" id="confirmPassword" placeholder="Mot de passe" required>
    </div>
    <div class="d-block">
    <input type="hidden" name="token" value="{{ token }}">
    <button type="submit" id="valider" class="btn btn-confirm m-5 rounded-pill">
        Valider le mot de passe
    </button>   
    </div>
</form>
</div>
{# ici le footer #}
	{% block footer %}
		{% include 'main/footer.html.twig' %}
	{% endblock footer %}
{% endblock %}