{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.0.0/css/font-awesome.min.css">
	<script src="https://kit.fontawesome.com/5398383d22.js" crossorigin="anonymous"></script>

	<link href="{{ asset('styles/index.css') }}" type="text/css" rel="stylesheet">
{% endblock %}


{% block title %}FINK | Find your INK artist !
{% endblock %}


{% block body %}

{# ici le header user connected or not #}
{% block header %}
	{% include 'main/header.html.twig' %}
{% endblock header %}

{# Container principale #}
<div
	class="container">
	{# intro #}
	<div id="home-header" class="d-flex">
		<div class="align-self-center w-100">
			<div id="intro" class=" d-flex justify-right">
				<div>
					<h1>FINK</h1>
					<h2>FIND YOUR
						<span>
							INK
						</span>
						ARTIST</h2>
				</div>
			</div>
			{# barre de recherche #}
			<div id="search" class="d-flex justify-content-between">
				<form action="" methode="" class="d-flex w-75 justify-content-between">
					<input type="text" class="button" style="font-family: FontAwesome;" placeholder='  &#xf002   Styles...'>
					<input type="text" class="button" style="font-family: 'Font Awesome 5 Brands';" placeholder=" &#xf3c5   Localisation">
					<button for="submit" class="button-search align-self-center">FINK!</button>
				</form>
			</div>
		</div>
	</div>

	{# ils nous ont rejoins #}
	<div id="meet">
		<div>
			<h3 class="text-center">
				ILS VIENNENT DE NOUS REJOINDRE</h3>
		</div>
		<div></div>
	</div>


</div>


{# ici le footer #}
{% block footer %}
		{% include 'main/footer.html.twig' %}
{% endblock footer %}{% endblock %}
