{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link href="{{ asset('styles/index.css') }}" type="text/css" rel="stylesheet">
{% endblock %}


{% block title %}FINK | Find your INK artist !
{% endblock %}


{% block body %}

{# ici le header user connected or not #}
{% block header %}
	{% include 'main/header.html.twig' %}
{% endblock header %}

{# Container principale #}
<div class="container">
	{# intro #}
    <div id="home-header" class="align-self-center">
        <div>
            <div id="intro" class=" d-flex justify-right">
                    <div>
                        <h1>FINK</h1>
                        <h2>FIND YOUR <span> INK </span> ARTIST</h2>
                    </div>
                </div>
            {# barre de recherche #}
            <div id="search" class="d-flex justify-right">
                <form action="" methode="">
                    <input type="text">
                    <input type="text">
                    <button for="submit">FINK!</button>
                </form>
            </div>
    </div>
</div>

	{# ils nous ont rejoins #}
	<div id="meet">
        <div>
            <h2 class="text-center"> ILS VIENNENT DE NOUS REJOINDRE</h2>
        </div>
        <div>

        </div>
    </div>


</div>


{# ici le footer #}
{% block footer %}
		{% include 'main/footer.html.twig' %}
{% endblock footer %}{% endblock %}
