{% extends 'base.html.twig' %}



{% block title %}Hello HomeController!{% endblock %}


{% block body %}
{% block header %}
		{% include 'main/header.html.twig' %}
{% endblock header %}

<div class="example-wrapper">
    <h2>Hello {{ controller_name }}! ✅</h2>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/fink/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/fink/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
</div>




{# {% block footer %}
		{% include 'main/footer.html.twig' %}
{% endblock footer %} #}

{% endblock %}
