{% block body %}

<h1 class="titleconnect">MOT DE PASSE OUBLIE</h1>

			
	<form method="post">


	
<p>Pour récupérer ton mot de passe, insère l'email utilisé à la création de ton compte.</p>
		<div>
			<input type="email" value="" name="email"  placeholder="Email" autocomplete="email" required autofocus>
		</div>

		<button type="submit">
			OK !
		</button>
	</form>
{% endblock %}