{% block footer%}

{% block stylesheets %}
	<link href="{{ asset('styles/footer.css') }}" type="text/css" rel="stylesheet">
{% endblock %}
<footer>

    <section class="container-fluid">

        <div class="row">
        
            <p class="class col-6 text-start" legal> <a href="mentions.legales.html.twig"> mentions légales</a></p>
            <p class="class col-3 text-end" presentation> <a href="mentions.legales.html.twig">présentations du projet</a></p>
            <p class="class col-3 text-end"contact> <a href="mailto:finkt@outlook.fr"> nous contacter</a></p>
       
        </div>
    </section>
    <div mb-2>
        <p class="fst-italic text-center">Copyright @ Fink  Nicolas | Carole | Aurélien | Magalie | Gabrielle 2021
        </p>
    </div>

</footer>

{% endblock footer %}