{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('styles/header.style.css') }}" type="text/css" rel="stylesheet">
    {% endblock %}

    {% block header %}

        <nav>
            {# NAV FOR AUTH TATOO #}

            {# LOGO & BASIC NAV #}
                <div>

            <img src={{ asset ('img/logo.png') }} alt="Le logo Fink" /> </div>

            <div></div>

        </nav>


    {% endblock header %}
    