{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link href="{{ asset('styles/header.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block header%}
<h1>CECI EST UN TITRE</h1>
<p>ET ceci est un paragraphe de texte
	<span class="material-icons">
		done
	</span>
</p>{% endblock header %}
