{% block stylesheets %}
	<link href="{{ asset('styles/header.style.css') }}" type="text/css" rel="stylesheet">
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/script.header.js') }}" defer></script>
{% endblock %}
{% block header %}


	{# --------------- NAV FOR AUTH TATOO --------------- #}


	{# {% if app.user and is_granted('ROLE_ARTIST') %} #}
		<div class="userbar"> 
			<div>
				<p>
				Bonjour
				{#{{ app.user.username }}#}
				! Bonne visite :)
				</p>
			</div>
			<div>
				<a href=""> <p>PASSER PREMIUM</p></a>
			</div>

			<div class="usericons">
				<a href="">
					<span class="material-icons">account_circle</span>
				</a>
				<a href="">
					<span class="material-icons">logout</span>
				</a>
					<span class="material-icons">face</span>

				</div>
				
			</div>
	{# {% endif %} #}
			


	<nav>

		{# LOGO & BASIC NAV #}
		<div>
			<img src={{ asset ('img/logo.png') }} alt="Le logo Fink"/>
		</div>

		<div>
			<ul>
				<li>
					<button>
						GALLERIE

						<span class="material-icons">search</span>
					</button>
				</li>
				<li>
					<button>
						HOME
						<span class="material-icons">home</span>
					</button>

				</li>
				{% if is_granted('ROLE_ARTIST') == false %}
					<li>
						<button class="myBtn bouton">
							JE SUIS TATOUEUR/SE
							<span class="material-icons">brush</span>
						</button>

					</li>
				{% endif %}
			</ul>
		</div>

		{# <-- ESPACE CONNEXION --> #}

		<div class="modal">

			<div class="modal-content">

				<span class="close">&times;</span>

				{% include "security/login.html.twig" %}

				<p class="myBtn cursor">Je n'ai pas de compte, c'est ici pour m'inscrire !</p>
			</div>

		</div>

		{# <-- ESPACE INSCRIPTION --> #}
		<div class="modal">

			<div class="modal-content">

				<span class="close">&times;</span>

				{% include "registration/register.html.twig" %}
			</div>

		</div>


	</nav>

{% endblock header %}
