{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link href="{{ asset('styles/admin.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block title %}Ajouter un style
{% endblock %}
{% block body %}
	{% block header %}
		{% include 'admin/adminHeader.html.twig' %}
	{% endblock header %}
	<h1 class="text-center">Nouveau
		<span class="adminTitre">style</span>
	</h1>
	<div class="container formAdmin">
		<form action="" method="POST" enctype="multipart/form-data">
			{{form(form)}}

			</form>
		</div>
	{% endblock %}
