{% extends 'base.html.twig' %}

{% block title %}Modifier un style{% endblock %}
{% block body %}
<h1>Modification du style</h1>
<form action="" method="POST">

    <div>
        <input type="text" name="name" value="{{ style.name }}">
    </div>

    <div>
    <button type="submit" name="submit" >Valider</button>
    </div>

</form

{% endblock %}