{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link href="{{ asset('styles/admin.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block title %}Modifier un style
{% endblock %}
{% block body %}
{% block header %}
		{% include 'admin/adminHeader.html.twig' %}
{% endblock header %}
	<h1 class="text-center">Modification du
		<span class="adminTitre">style</span>
	</h1>
	<div class="container text-center">
		<form action="" method="POST">

			<div class="formAdmin">
				<input class="form-control" type="text" name="name" value="{{ style.name }}">
			</div>

			<div>
				<button class="adminBtn mt-3" type="submit" name="submit">Valider</button>
			</div>


		</form>
	</div>
	{% endblock %}
