{% extends 'base.html.twig' %}

{% block title %}Ajouter un style{% endblock %}
{% block body %}
<h1>Nouveau style</h1>
<form action="" method="POST" enctype="multipart/form-data">
{{form(form)}}

</form

{% endblock %}