{% extends 'base.html.twig' %}

{% block title %}Ajouter un artiste{% endblock %}
{% block body %}
<h1>Nouvel artiste</h1>
<form action="" method="POST" enctype="multipart/form-data">
{{ form_start(form) }}

{{ form_end(form) }}

</form

{% endblock %}