{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link href="{{ asset('admin/delete.css') }}" type="text/css" rel="stylesheet">
	<link href="{{ asset('styles/admin.css') }}" type="text/css" rel="stylesheet">

{% endblock %}

{% block title %}FINK !
{% endblock %}

{% block body %}

{% block header %}
		{% include 'admin/adminHeader.html.twig' %}
{% endblock header %}
	<h1 class="text-center">Supprimer
		<span class="adminTitre">l'artiste</span>
	</h1>
	<div class="container">
			<div class="card text-center">
				<h3>Etes vous sur de vouloir supprimer ?</h3>
				<div id="boutons">
					<a href="{{ path('artist_delete', {id: artist.id}) }}" class="btn btn-danger">Supprimer
					</a>

					<a href="{{ path('admin_')}}" class="btn btn-dark
						">Annuler</a>
				</div>
		</div>
	</div>
{% endblock %}
