{% extends 'base.html.twig' %}
{% block stylesheets %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.0.0/css/font-awesome.min.css">
	<script src="https://kit.fontawesome.com/5398383d22.js" crossorigin="anonymous"></script>

	{# Fichier style de la page premium #}
	<link href="{{ asset('styles/premium.css') }}" type="text/css" rel="stylesheet">

	<link href="{{ asset('styles/gotop.css') }}" type="text/css" rel="stylesheet">
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/gotop.js') }}" defer></script>
{% endblock %}


{% block title %}FINK | Find your INK artist
{% endblock %}


{% block body %}

	{# ici le header user connected or not #}
	{% block header %}
		{% include 'main/header.html.twig' %}
	{% endblock header %}
<div class="bg-feuille2">
{# Bouton To the Top #}
		<a id="gotop"></a>
		
	{# Container principal du body#}
	<div
		class="container" id="premium">


		{# ici la partie présentation forfait de l'application | Premium #}
		<div class="premium mt-5">
			<h3 class="text-center">Envie de
				<span>
					rencontrer
				</span>
				de nouveaux clients ?</h3>
			<h4 class="text-center">- Découvrez nos différents
				<span>
					forfaits
				</span>
				-
			</h4>
			<div
				class="row div-cartes" id="cartes-forfaits">

				{# section free #}
				<div class="col-12 carte1 col-sm-12 col-md-6 ">
					<div class="forfait carte-free">
						<div>
							<h5 class="text-center pt-2 pb-2">INSCRIPTION GRATUITE</h5>
							<div class="cat d-flex justify-content-between align-items-center">
								<p>Accès au catalogue</p>
								<i class="fas fa-check green"></i>
							</div>
							<div class="cat d-flex justify-content-between align-items-center">
								<p>Référencement géographique</p>
								<i class="fas fa-check green"></i>
							</div>
							<div class="cat d-flex justify-content-between align-items-center">
								<p>Référencement par styles</p>
								<i class="fas fa-check green"></i>
							</div>
							<div class="cat d-flex justify-content-between align-items-center">
								<p>6 photos sur le profil</p>
								<i class="fas fa-check green"></i>
							</div>
							<div class="cat d-flex justify-content-between align-items-center">
								<p>Contact client par mail</p>
								<i class="fas fa-check green"></i>
							</div>
							<div class="cat d-flex justify-content-between align-items-center">
								<p>Référencement prioritaire</p>
								<i class="fas fa-times red"></i>
							</div>
							<div class="cat d-flex justify-content-between align-items-center">
								<p>+6 photos sur le profil</p>
								<i class="fas fa-times red"></i>
							</div>
							<span class="vertical-line"></span>
						</div>
						<!-- button inscription à afficher si pas connecté-->
						<div class="top d-flex justify-content-center">
							<button class="myBtn bouton bouton-forfait">
								<a href="">M'inscrire</a>
							</button>
						</div>
					</div>
				</div>

				{# section premium #}
				<div class="col-12 carte2 col-sm-12 col-md-6">
					<div class="forfait carte-premium">
						<div>
							<h5 class="text-center pt-2 pb-2">PREMIUM</h5>
							<div class="cat d-flex justify-content-between align-items-center">
								<p>Accès au catalogue</p>
								<i class="fas fa-check green"></i>
							</div>
							<div class="cat d-flex justify-content-between align-items-center">
								<p>Référencement géographique</p>
								<i class="fas fa-check green"></i>
							</div>
							<div class="cat d-flex justify-content-between align-items-center">
								<p>Référencement par styles</p>
								<i class="fas fa-check green"></i>
							</div>
							<div class="cat d-flex justify-content-between align-items-center">
								<p>6 photos sur le profil</p>
								<i class="fas fa-check green"></i>
							</div>
							<div class="cat d-flex justify-content-between align-items-center">
								<p>Contact client par mail</p>
								<i class="fas fa-check green"></i>
							</div>
							<div class="cat d-flex justify-content-between align-items-center">
								<p>Référencement prioritaire</p>
								<i class="fas fa-check green"></i>
							</div>
							<div class="cat d-flex justify-content-between align-items-center">
								<p>+ 10 Photos sur le profil</p>
								<i class="fas fa-check green"></i>
							</div>
							<span class="vertical-line"></span>
						</div>

						<!-- Button accès premium si user connecté ou non (à voir):  -->
						<div class="mt-5 d-flex justify-content-center">
                            <button class="myBtn bouton bouton-forfait">
								<a href="">Souscrire</a>
							</button>
                        </div>
                        <div id="price">
                            <p>7.99 € / mois</p>
                        </div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
	{# ici le footer #}
	{% block footer %}
		{% include 'main/footer.html.twig' %}
	{% endblock footer %}
{% endblock %}
