/* Général */
.adminTitre {
    color: var(--blueGris2);
}

.adminBtn {
    border: none;
    font-size: 15px;
    border-radius: 50px;
    color: #fff;
    width: 130px;
    height: 35px;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    background-color: #9BA7B3;
    margin-bottom: 15px;
    align-self: center;
}

.logoAdmin {
    width: 200px;
    height: auto;
    margin: 10px 0 0 10px;
}

.formAdmin {
    width: 500px;
}

.detailsBtn {
    border: none;
    font-size: 15px;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    background-color: #9BA7B3;
}

.stylesAdmin {
    background-color: #9BA7B3;
    color: white;
    border-radius: 55px;
    padding: 2px 15px;
    font-size: 20px;
    text-align: center;
    align-self: center;
    white-space: nowrap;
    margin-right: 2%;
    margin-bottom: 3%;
}

.btnAdminHeader {
    background-color: #f1f1f1 !important;
    border-radius: 10px;
    margin-right: 10px;
    color: black !important;
    text-transform: uppercase;
}

.btnAdminHeader:hover {
    box-shadow: 0px 0px 5px white;
    background-color: white;
    transition: 0.3s;
}

/* Nav */
.navAdmin {
    background-color: var(--blueGris2);
    color: white;
    text-transform: capitalize;
}

.btnAdminHeader {
    border-style: none;
    border-radius: 50px;
    background-color: #f1f1f1;
    margin: 10px 10px;
    height: 2.5em;
    text-transform: uppercase;
}

/* Formulaire d'ajout artiste Admin */
#artist_admin input {
    border-radius: 10px;
    width: 500px;
}

#artist_admin textarea {
    border-radius: 10px;
    width: 500px;
}

#artist_admin_created_at {
    display: none;
}

#artist_admin button {
    border-radius: 10px;
    margin: 25px 0 50px 0;
    text-align: center;
    background-color: #9BA7B3;
    color: white;
    padding: 5px 15px;
}

/* Ajout styles Admin */

#styles_admin_name {
    display: block;
    width: 50%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


#styles_admin_Valider {
    border-radius: 10px;
    margin: 25px 0 50px 0;
    text-align: center;
    background-color: #9BA7B3;
    color: white;
    padding: 5px 15px;
}