/* CARD ARTISTE */

.carte-artiste a {
    font-style: none;
    text-decoration: none;
    list-style: none;
    color: none;
}


.carte-artiste {
    height: 230px;
    width: 460px;
    position: relative;
    /* image pour test à remplacer par le lien vers le dossier qui contiendra les images de couverture */
    /* background-image: url(../img/logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; */
    margin: 10% 0 5%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #404f5798;
}

.carte-artiste img{
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    display: block;
    object-fit: cover;
}

.carte-artiste:hover {
    box-shadow: 5px 5px 35px 5px #9ba7b3c4;
    transition: 0.5s;
}

.carte-artiste .profil-picture {
    border: 2px solid #404F57;
    height: 60px;
    width: 60px;
    z-index: 99;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    left: -30px;
    background-color: rgb(114, 128, 153);


}

.carte-artiste .profil-picture img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px;
}

.carte-artiste .name {
    position: absolute;
    bottom: -30px;
    height: 65px;
    width: 90%;
    background-color: white;
    left: 0;
    border-radius: 5px;
    z-index: 10;
    padding: 2% 40px;
    box-shadow: 3px 3px 5px #404f5798;
}

.carte-artiste .name p {
    font-weight: 600;
    color: #0C233E;
}

.carte-artiste .name p:first-child {
    text-transform: uppercase;
}

.carte-artiste .styles {
    position: absolute;
    width: 70%;
    z-index: 90;
    bottom: -32px;
    left: 40px;
    overflow-x: clip;
    /* overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(100,137,144); */
}

.carte-artiste .styles p {
    background-color: #9BA7B3;
    color: white;
    border-radius: 55px;
    padding: 1px 10px;
    font-size: 12px;
    text-align: center;
    align-self: center;
    white-space:nowrap;
    margin-right: 2%;
    margin-bottom: 3%;
    cursor: default;
}

.carte-artiste .styles p:hover {
    background-color: #303e55;
}

/* END CARD ARTISTE */