
#footer {

    background-color: var(--blueGris);
    color: #1E2022 !important;
    
    text-decoration:none !important;
    /* background: linear-gradient ,(white, #404F57) ; */
    background: linear-gradient(#f1f1f1, #9ba7b3);

    font-family: open-sans, sans-serif;
    padding-bottom: 0.5rem;
    /* background-image: url(../img/BG.svg);
    background-repeat: no-repeat; */
    margin-top : 10%;;
}

.contact{
    text-align: right;
}
#footer section {
    
    color: #1E2022;
    text-decoration:none ;

}

/* partie supérieure */

/* .informations{
    display: inline;
    justify-content: space-between;
} */


.left{
    position: absolute;
    left: 10%;
    text-decoration: underline;
    display: block;

}
.right{

    position: absolute;
    right: 10%;
    text-decoration: underline;
    display: block;
   text-align: end;
}
/* #footer u {
    text-align: center;
    color: #1E2022;
    text-decoration: none ;
} */


#footer a {
    text-decoration: none !important;
    font-style: none;
    color: black;
    padding-bottom: 3px;
}
#footer a:hover {
    color: #657686;
}
.copyright {
    padding-top: 5rem;
}

/* bas de page */
.linkedin {
    text-decoration: none;
    display: flex;
    justify-content: center;
}
