.mdp-content{

    height: 60vh;
    
}
.titreoublie {
   
    padding-top: 3.5rem;
}
.required{
    margin-right: 10px;
}

#reset_pass_email{
    border-radius: 50px;
    border:none;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
#reset_pass_envoyer{
    border-radius: 50px;
    background: linear-gradient(159deg, rgba(12, 35, 62, 0.7343137938769257) 30%, rgba(188, 205, 215, 1) 100%);
    color: white;
    border:none;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 4px;
}
#reset_pass_envoyer:hover {
    box-shadow: 1px 1px 5px #8AADB2;
    transition: 0.3s;
}
@media (max-width: 750px) {

    .forgotten{
        width: auto;
    }
}