.accroche{
    align-self: center;
}
.accroche a{
    text-decoration: none;
    color:#233652 ;
    
}
.accroche a:hover{
    color: #d1e0e1;
}
.accroche p span{
    text-transform: uppercase;
}


#nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#nav ul{
    display: flex;
}
#nav li{
    list-style-type: none;
}

#nav div img{
    width: 200px;
}

#nav span , .userbutton span{
    transform: translate(10px, 5px);
}

.userbutton p{
    text-align: right;
}

.userbar{
    background: rgb(230,236,239);
    background: radial-gradient(circle, rgba(230,236,239,1) 3%, rgba(155,167,180,1) 71%);   
     display: flex;
    justify-content: space-between;
    position: sticky;  
    top: 0;  
  width: 100%;
  z-index: 10000;
}

.userbar div{
    margin: 10px;
}

.userbar p{
    color: white;
    margin: 0;
    padding: 0;
}

.or{
    margin: 1em;
}

.titleconnect{
    font-size: 40px;
    margin: 20px 0;
}



#nav button , .userbutton button{
    border-style: none;
    border-radius: 50px;
    background-color: #f1f1f1;
    padding:  0 20px 4px;
    margin: 10px 10px;
    height: 2.5em;
}
#nav button:hover , .userbutton button:hover{
    box-shadow: 0px 0px 5px white;
    background-color: white;
    transition: 0.3s;
}

#navbarNav .btn-navigation{
    padding:  0 30px 4px;
    background-color: white;
}

#navbarNav .btn-navigation:hover{
    box-shadow: 0px 0px 15px #8faeb3;
}

.userbutton button {
margin: 0;
}

#nav a , .userbutton a{
    text-decoration:none;
    color: #0C233E
}


#nav input::placeholder {
    /* text-align: center; */
    color: #5E8289;
    font-size: 15px;
    opacity: 0.7;
}
#nav input:focus {
    box-shadow: 0px 0px 5px #8AADB2;
    transition: 0.3s;
    outline: none;
}

#nav input:hover{
    box-shadow: 0px 0px 5px #8AADB2;
    transition: 0.3s;
}

#nav .checkbox{
    margin: 0;
    padding: 0;
    width: 1em;
    height: 1em;
}


#nav input{
    width: 250px;
    height: 2.5em;
    border-style: none;
    border-radius: 50px;
    padding: 10px;
    margin: 10px 0;
}

#nav .bouton{
    color: #0C233E;
    background: rgb(191,201,206);
    background: radial-gradient(circle, rgba(191,201,206,1) 0%, rgba(155,167,180,1) 62%); 
}
#nav .bouton:hover{
    color: #f1f1f1;
    font-weight: 600;
    transition: 0.5s;
    box-shadow: 0px 0px 15px #8faeb3;
}

.cursor{
    cursor: pointer;
   
}
.cursor:hover{
    cursor: pointer;
    transition: 0.3s;
    color: var(--blueBlanc);
}



    /* The Modal (background) */
.my-modal {
    
    text-align: center;
    visibility: hidden; /* Hidden by default */
    /* opacity:0; */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); 
}

.my-modal1{
    text-align: center;
    visibility: hidden; /* Hidden by default */
    /* opacity:0; */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}


/* Modal Content */
.my-modal-content {
    border-radius: 15px;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 1rem 1.5rem;
    width: 30rem;
    background-image: url(../img/4507304.svg);
    background-repeat: no-repeat;
    background-position-y: -11.5em;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}