.forfait {
    background-color: white;
    border-radius: 15px;
    position: relative;
    width: 60%;
}

.forfait p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Mentions 'avantages' dans la carte */
.cat {
    padding: 3% 10%;
    justify-content: center;
}

.div-cartes {
    margin-top: 5%;
}

/* Ligne à gauche des icons */
.vertical-line {
    border-left: 1px solid var(--blue);
    position: absolute;
    display: inline-block;
    height: 66%;
    margin: 0 20px;
    top: 62px;
    right: 65px;
}

.green {
    color: #70949b;
}

.red {
    color: #9b7070;
}

#price {
    position: absolute;
    color: white;
    transform: rotate(20deg);
    padding: 2%;
    top: -1%;
    right: -8%;
    background: rgb(85, 121, 129);
    background: linear-gradient(90deg, rgba(85, 121, 129, 1) 35%, rgba(179, 204, 207, 1) 100%);
    border-radius: 5px;
}

.bouton-forfait {
    background: rgb(85, 121, 129);
    background: linear-gradient(90deg, rgb(94, 117, 122) 35%, rgb(169, 184, 185) 100%);
    border-radius: 0 0 10px 10px;
    width: 100%;
    border: none;
    padding: 5% 0;
    margin-top: 10%;
    position: absolute;
    bottom: 0;
}

.bouton-forfait a {
    color: var(--fond);
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
}

/*Flemme -  Pour la marge du bouton avec les textes */
.top {
    margin-top: 4.5rem !important;
}

.forfait:hover {
    box-shadow: -1px 1px 45px -1px rgba(12, 35, 62, 0.68);
    -webkit-box-shadow: -1px 1px 45px -1px rgba(12, 35, 62, 0.68);
    -moz-box-shadow: -1px 1px 45px -1px rgba(12, 35, 62, 0.68);
    transition-duration: 1s;
}

.bouton-forfait:hover {
    font-size: 1.25rem;
    font-weight: 600;
    transition-duration: 1s;
}





/* MEDIA QUERIES */

/* // Small devices (landscape phones, less than 750px) */
@media (max-width: 750px) {

    .carte1,
    .carte2 {
        display: flex;
        justify-content: center;
        margin-bottom: 10%;
    }
}

/* affichage barre de séparation  */
@media (max-width: 1200px) {
    .vertical-line {
        display: none;
    }
}




/*  Large devices (desktops, 892px and up) */
@media (min-width: 892px) {
    .carte1 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end
    }

    .carte2 {
        display: flex;
        justify-content: left;

    }
}