.forfait {
    background-color: white;
    border-radius: 15px;
    position: relative;
    width: 60%;
}

.forfait p {
    margin-top: 0;
    margin-bottom: 0;
}

.cat {
    padding: 3% 10%;
    justify-content: center;
}

.div-cartes {
    margin-top: 5%;
}

.vertical-line {
    border-left: 1px solid var(--blue);
    position: absolute;
    display: inline-block;
    height: 60%;
    margin: 0 20px;
    top: 62px;
    right: 65px;
}

.green {
    color: #70949b;
}

.red {
    color: #9b7070;
}

#price {
    position: absolute;
    color: white;
    transform: rotate(20deg);
    padding: 2%;
    top: -1%;
    right: -8%;
    background: rgb(85, 121, 129);
    background: linear-gradient(90deg, rgba(85, 121, 129, 1) 35%, rgba(179, 204, 207, 1) 100%);
    border-radius: 5px;
}

.bouton-forfait{
    background: rgb(64,79,87);
    background: linear-gradient(159deg, rgba(64,79,87,1) 0%, rgba(86,99,107,0.9416900549282213) 44%, rgba(188,205,215,1) 100%); 
    border-radius: 10px;
    width: 10%;
}
.bouton-forfait a{
    color: var(--fond);
    text-decoration: none;
}

/* MEDIA QUERIES */

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 800px) {

    .carte1,
    .carte2 {
        display: flex;
        justify-content: center;
    }
}

/* affichage barre de séparation  */
@media (max-width: 1200px) {
    .vertical-line {
        display: none;
    }
}




/*  Large devices (desktops, 992px and up) */
@media (min-width: 892px) {
    .carte1 {
        display: flex;
        justify-content: right;
    }

    .carte2 {
        display: flex;
        justify-content: left;
    }
}