.marker{
    transform: translate(-50%, calc(-100% - 10px));
    white-space: nowrap;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10 rgba(0,0,0,0.3);
}

.marker::after{
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
}

.marker.is-active{
    background-color: #5069ff;
    color: #fff;
    z-index: 300;
}

.marker.is-active::after{
    border-top-color: #5069ff;
}
.carte-resultat{
    border: 3px solid #0C233E;  
    border-radius: 10px;
    box-shadow: -7px -7px 5px #36484a, 5px 5px 5px #81a4aa;
}
.map{
    background-color: grey; 
    height: 500px;
    width: 50%;
    padding-right: 5%;
}
.list{
    overflow: scroll;
    height: 500px;
}

@media (max-width: 750px) {
    #map{
        display: none;
    }
}
