:root {
    --blueBlanc: #BCCDD7;
    --blueGris: #404F57;
    --blue: #0C233E;
    --black: #1E2022;
    --blueGris2: #9BA7B3;
    --marronClair: #C9C4C4;
    --fond : #f1f1f1;
}

/* FONTs DE BASE */
body{
    background-color: var(--fond);
}
h1{
    font-family: proxima-nova, sans-serif;
    font-size: 75px;
    font-weight: 800;
    color: var(--black);
}
h2{
    font-family: proxima-nova, sans-serif;
    font-size: 55px;
    color: var(--blue);
}
h2 span{
    color: var(--blueGris2);
    font-weight: 400;
}
h3{
    font-family: proxima-nova, sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: var(--blue);
}
h3 span{
    color: var(--blueGris2);
    font-weight: 600;
}

h4
h5
p{
    font-family: open-sans, sans-serif;
    font-size: 20px;
}
p span

/* END FONTS SETTINGS */

