#search-info {

    margin: auto;
}

#titlemeet {
    text-align: center;
    padding-top: 4rem;

}
#titlemeet p{
    font-style: oblique;
    color:#9BA7B3;
}

/* fond blanc */
#artist_introduction {
    width: 65vw;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    position: relative;
    display: inline-block;
    margin-left: 17%;
    margin-right: 5%;
    color: black;
    margin-bottom: 3rem;
    margin-top: 4rem;
    box-shadow: 1px 1px 1px 1px rgb(212, 212, 212);
    /* padding: 3rem;
padding-top: 2rem;
padding-left: 3rem; */
    padding-bottom: 5em;
    z-index: 5;

}

.coverdetail {
    height: 230px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

/* partie présentation artiste*/
.coverdetail img {
    /* width: 100%;
    height:20em; */
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.artist_pix {

    margin-top: 12rem;
    border-radius: 50%;
    border: 2px solid;
    height: 150px;
    width: 150px;
    position: absolute;
    top: -75px;
    right: 45%;
}

.artist_pix img {

    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    display: block;
    object-fit: cover;
}

.artist_name h2 {
    margin-left: 5%;
    color: #0C233E;
    word-wrap: break-word;
    text-transform: uppercase;
    margin-top: 30px;
}

#instagr_icone {
    font-size: 54px;
    display: flex;
    justify-content: end;
    margin-right: 2rem;
}

#instagr_icone a {
    color: #404F57;

}

.artist_intro {
    color: black;
    padding-left: 1rem;

}

.thestyles{
    margin-left: 5%;
}
.thestyles p {
    padding-left: 1rem;
    background-color: #9BA7B3;
    color: white;
    border-radius: 55px;
    padding: 1px 10px;
    font-size: 12px;
    text-align: center;
    align-self: center;
    white-space: nowrap;
    margin-right: 2%;
    margin-bottom: 3%;
    cursor: default;
    
}


.description {

    /* overflow: scroll; */
    
    margin-bottom: 2rem;
    width: 100%;
    word-wrap: break-word;
    padding-right: 2rem;
    margin-left: 5%;
}

.city {
    margin-left: 5%;
    font-weight: bolder;
}

.divstyle {
    margin-left: 5%;

}

/* partie médiane:travaux et bouton contacter */
.artist_work {
    display: grid;
    grid-area: auto;
    justify-content: center;

}

.artist_realiz {
    padding-left:5% ;
    position: relative;
    width: 100%;
}

.phototattoo {
    padding: 5% 0;
}

.div_artistwork {
    border-radius: 10px;
    border: 2px solid;
    height: 250px;
    width: 250px;
    margin: 0 2% 2% 0;
}

.div_artistwork img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 10px;
    object-fit: cover;
}

/* .artiste_work, img{
    max-width: 150px; 
    max-height: 150px; 
    object-fit: cover; 
    align-items: flex-end;
    padding:5px;
} */

.contacterb {
    border-radius: 50px;
    background: linear-gradient(159deg, rgba(12, 35, 62, 0.7343137938769257) 30%, rgba(188, 205, 215, 1) 100%);
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-90px);
    bottom: 0;
    margin-bottom: 3.5em;
    /* margin-left: 30%; */
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    max-width: 170px;
    border: none;
}

.contacterb:hover {
    box-shadow: 1px 1px 5px #8AADB2;
    transition: 0.3s;
}

/* sous la div blanche */
.action_sup {
    /* text-align: center; */
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 4rem;
}

/* card artist */

.Cartes {
    margin-bottom: 70px;
    padding: 0 5%;
}

/* END CARD ARTISTE */

/* MEDIA QUERIES */

/* // Small devices (landscape phones, less than 750px) */
@media (max-width: 750px) {
    #home-header {
        padding-left: 10%;
    }

    #home-header h2 {
        font-size: 35px;
    }

    .button-search {
        margin-left: 30%;
    }

    .coverdetail img {
        /* width: 100%;
        height:20em; */
        height: 100%;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        display: block;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }


    .artist_name h2 {
        color: #0C233E;
        word-wrap: break-word;
        font-size: 2rem;
    }

    #artist_introduction {
        margin-left: 1.5rem;
        padding-left: 1.5rem;
        padding-bottom: 7rem;
        min-width: 252px;
        margin-right: 5%;
        width:300px;
    }
    .div_artistwork img {
        min-width: 246px;
        
    }

    .description {
        padding-left: 0.5rem;
    }
    .artist_realiz {
        padding-left:0% ;
    }
    #artist_introduction{
        padding-top: 0;
        padding-left:0% ;
        margin-top: 0;
    }
    .artist_name h2 {
        margin-top: 0;
        margin-left: 1.5rem;
    
    }
    #titlemeet{
        margin-top: 0;
        padding-top: 0;
    }
    .phototattoo {
        padding-left: 1.5rem;
    }
}